@charset "UTF-8";


/* ---------------------------------
全体適用CSS
 --------------------------------- */
html{
  font-size: 62.5%;
}
body{
  color:#333;
  font-size:1.2rem;
  font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after{
  box-sizing:border-box;
}
a:link, a:visited, a:hover, a:active{
  columns: #d03c56;
  text-decoration:none;
}


/* ---------------------------------
CSS ヘッダー
 --------------------------------- */

.header{
  width:100%;
  padding:10px 0 10px;
  box-sizing:0 0 10px 1px #e3e3e3;
  border: #000;
}
.header .title {
  display: inline-block;
  margin: 5px 10px;
  font-size: 2.0rem;
}
.header .header-wrapper {
  max-width: 970px;
  margin: 0 auto;
}
.header .todo-add {
  display: block;
  float: right;
  margin-right:10px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 15px;
}
.header .category-add {
  display: block;
  float: right;
  margin-right:10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 15px;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
/* ---------------------------------
board 用CSS
 --------------------------------- */

 .board-wrapper {
  width: 100%;
  background-color: #e6ecf0;
  padding-top: 10px;
}
.board-wrapper .board {
  width:506px;
  background-color: #fff;
  margin:0 auto;
  padding-bottom: 10px;
  border-radius: 3px;
}
.board .top-category {
  display: block;
  padding: 10px;
  font-size: 2.0rem;
  border-bottom: 1px solid #e6ecf0;
}
.board .top-memo {
  display: block;
  position: relative;
  padding: 5px 5px 0 38px;
  transition: opacity 0.15s;
}
.board .top-memo:hover {
  opacity: 0.5;
}
.board .top-memo .memo-text{
  display: inline-block;
  padding-top: 5px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 15px;
}



 /* ---------------------------------
main用CSS
 --------------------------------- */

.wrapper {
  width: 100%;
  background-color: #e6ecf0;
  height: 800px;
  padding-top: 10px;
}
.wrapper .main {
  width:506px;
  background-color: #fff;
  margin:0px auto 40px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.main .category-edit{
  transition: opacity 0.15s;
}
.main .category-edit:hover {
  opacity: 0.5;
}
.main .category {
  display: block;
  padding: 10px;
  font-size: 2.0rem;
  border-bottom: 1px solid #e6ecf0;
}
.main .contents {
  list-style-type: none;
  counter-reset: todo_num;
}
.main .todo-edit {
  display: block;
  position: relative;
  padding: 5px 5px 10px 38px;
  border-bottom: 1px solid #e6ecf0;
  transition: opacity 0.15s;
}
.main .todo-edit:hover {
  opacity: 0.5;
}
.main .todo-edit .todo-number {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border: 1px solid #ccc;
  color: #aaa;
  text-align: center;
  font-weight:bold;
  line-height:16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main .todo-edit .todo-number::before{
  content: counter(todo_num);
  counter-increment: todo_num;
  display: inline-block;
  font-size: 1.0rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main .todo-edit .todo-text {
  display: inline-block;
  padding-top: 5px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 15px;
}




 /* ---------------------------------
検証用CSS

.clearfix::after{
  content:'';
  display:block;
  clear:both;
}

 --------------------------------- */


