
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>dekita!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dekita/style.css' %}" />
    <style type="text/css"></style>
</head>
<body>
<div class="pageCover">
    <header>
        <h1>dekita!</h1>
    </header>
    <div class="top-area">

    </div>
    <div class="top-image">
    </div>
    <div class="counter-line">
        <div class="counter-container">
            <ul>
                <li class="counter-item">dekita:</li>
                <li class="counter-item">できた数:</li>
                <li class="counter-item">なめこ数:</li>
            </ul>
        </div>
    </div>


    <div class="first-menu">
        <h3>
            カテゴリ：
            <a href="#">追加する</a>
        </h3>
        <h3>
            予定：
            <a href="{% url 'dekita:add' %}">追加する</a>
        </h3>
        <div class="frame">
            <ul class="aaa">
                {% for todo in todolist %}
                <li class="todo">
                    {% if forloop.counter0|divisibleby:"2" %}
                    <p class="todo-gray">
                        {{ forloop.counter }} - {{ todo.todolist|linebreaksbr }}
                    </p>
                    <a href="{% url 'dekita:edit' todo.id %}">編集</a>
                    {% else %}
                    <p class="todo-white">
                        {{ forloop.counter }} - {{ todo.todolist|linebreaksbr }}
                    </p>
                    <a href="{% url 'dekita:edit' todo.id %}">編集</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>